      body {
        margin: 0;
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url('Background.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-color: lightsteelblue;
      }

      .menu-body-text-container {
        position: fixed;
        bottom: 3%;
        right: 48%;
        height: clamp(200px, 20vw, 400px);
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        width: clamp(180px, 20vw, 500px);
        color: white;
      }

      .menu-text-container1::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge, and Opera */
      }

      .menu-header-text-container {
        position: fixed;
        bottom: 15%;
        right: 27%;
        height: clamp(100px, 20vw, 200px);
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        width: clamp(180px, 20vw, 400px);
        color: white;
      }

      .overlay-header-text-container {
        position: fixed;
        height: 28px;
        width: 211px;
        left: 9%;
        top: 3%;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        color: white;
      }

      .overlay-body-text-container {
        position: fixed;
        height: 506px;
        width: 183px;
        left: 10%;
        top: 50%;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        color: white;
      }

      .menu-header-text {
        font-size: clamp(6px, 3vw, 24px);
        font-weight: bold;
        color: white;
        line-height: auto;
      }

      .menu-body-text {
        font-size: clamp(1rem, 2vw, 16px);
        color: white;
        margin-top: 1rem;
        line-height: auto;
      }

      .overlay-body-text {
        font-size: 13.5px;
        color: white;
        line-height: auto;
      }

      .overlay-header-text {
        font-size: 24px;
        font-weight: bold;
        color: white;
        line-height: auto;
      }

      .imageButtonTop {
        position: fixed;
        width: clamp(150px, 19vw, 400px);
        height: clamp(50px, 40vh, 250px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        background-color: transparent;
        pointer-events: auto;
      }

      .imageButtonBottom {
        position: fixed;
        width: clamp(150px, 19vw, 400px);
        height: clamp(100px, 40vh, 500px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        background-color: transparent;
        pointer-events: auto;
      }

      .imageButtonTop:hover, .imageButtonBottom:hover {
        opacity: 0.8;
      }

      .closeButton {
        position: fixed;
        top: 7px;
        right: 15px;
        width: 33px;
        height: 30px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('XButton.webp');
        color: white;
        border: none;
        cursor: pointer;
      }

      .closeButton:hover {
        opacity: 0.8;
      }

      .comingsoonblock {
        position: fixed;
        bottom: 3%;
        left: 55.5%;
        background-image: url('ComingSoon.webp');
        width: clamp(200px, 20vw, 300px);
        height: clamp(200px, 10vh, 250px);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 998;
      }

      #button1 {
        top: 5%;
        left: 17%;
        background-image: url('BrushCROP.webp');
        clip-path: polygon(
          0.13% 96.14%,
          4.2% 99.8%,
          99.74% 84.35%,
          99.74% 45.12%,
          97.7% 41.87%,
          0.13% 0.41%
        );
      }

      #button2 {
        bottom: 32%;
        left: 17%;
        background-image: url('SketchCROP.webp');
        clip-path: polygon(
          3.48% 23.34%,
          0.13% 26.91%,
          0.13% 28.51%,
          0.13% 99.73%,
          98.61% 30.5%,
          99.74% 27.59%,
          99.74% 0.27%
        );
      }

      #button3 {
        top: 5%;
        right: 18%;
        background-image: url('EraserCROP.webp');
        clip-path: polygon(
          99.74% 96.36%,
          96.19% 99.6%,
          0.25% 83.81%,
          0.25% 45.34%,
          2.42% 41.9%,
          99.74% 0.61%
        );
      }

      #button4 {
        bottom: 32%;
        right: 18%;
        background-image: url('WheelCROP1.webp');

        clip-path: polygon(
          1.68% 30.77%,
          0.26% 27.72%,
          0.26% 0.27%,
          96.52% 23.74%,
          99.74% 27.19%,
          99.74% 99.87%
        );
      }
      
      
      #overlay1, #overlay2, #overlay3, #overlay4 {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 889px;
        height: 600px;
        padding: 0px;
        transform: translate(-50%, -50%);
        background-color: black;
        display: none; /*hidden by default*/
        z-index: 1000;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        border-radius: 8px;
      }
      
      #overlaycontent1 {
        position: relative;
        width: 889px;
        height: 600px;
        background-image: url('BrushOverlay.webp');
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
      }

      #overlaycontent2 {
        position: relative;
        width: 889px;
        height: 600px;
        background-image: url('SketchOverlay.webp');
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
      }

      #overlaycontent3 {
        position: relative;
        width: 889px;
        height: 600px;
        background-image: url('EraserOverlay.webp');
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
      }

      #overlaycontent4 {
        position: relative;
        width: 889px;
        height: 600px;
        background-image: url('WheelOverlay.webp');
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
      }

      #overlaybackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }

    