body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('Background.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: lightsteelblue;
}

.libre-franklin-bold {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gorditas-regular {
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.give-you-glory-regular {
  font-family: "Give You Glory", serif;
  font-weight: 400;
  font-style: normal;
}

.disclaimer-text-container {
    position: fixed;
    top: 12.3%;
    left: 39.5%;
    height: clamp(25px, 5vw, 50px);
    width: clamp(200px, 20vw, 400px);
    font-family: 'Libre Franklin', sans-serif;
}

.menu-body-text-container {
    position: fixed;
    bottom: 0.5%;
    right: 47.5%;
    height: clamp(200px, 22vw, 430px);
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    width: clamp(180px, 20vw, 500px);
    color: white;
    font-family: 'Hammersmith One', sans-serif;
}

.menu-text-container1::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, and Opera */
}

.menu-header-text-container {
    position: fixed;
    bottom: 15%;
    right: 27%;
    height: clamp(100px, 20vw, 200px);
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    width: clamp(180px, 20vw, 400px);
    color: white;
}

.overlay-header-text-container {
    position: fixed;
    height: 38px;
    width: 400px;
    display: flex;
    left: 5%;
    top: 0.5%;
    color: white;
    z-index: 1001;
    font-family: 'Libre Franklin', sans-serif;
}

.overlay-body-text-container {
    position: fixed;
    height: 506px;
    width: 183px;
    left: 5%;
    top: 10%;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    color: white;
    z-index: 1001;
    font-family: 'Hammersmith One', sans-serif;
}

.overlay1-extra-text-container {
    position: fixed;
    width: 261.75px;
    height: 59.85px;
    right: 8%;
    bottom: 19%;
    text-align: center;
    color: #7E4819;
    z-index: 1001;
    transform: rotate(-3.5deg);
    transform-origin: center;
    font-family: 'Gravitas One', sans-serif;
    font-size: 13px;
}

.overlay2-extra-text-container {
    position: fixed;
    width: 261.75px;
    height: 47.53px;
    right: 6%;
    bottom: 18%;
    text-align: center;
    color: #3225AD;
    z-index: 1001;
    transform: rotate(-3.5deg);
    transform-origin: center;
    font-family: 'Gorditas', serif;
}

.overlay3-extra-text-container {
    position: fixed;
    width: 237.52px;
    height: 79.32px;
    left: 34%;
    bottom: 15%;
    text-align: center;
    color: #235711;
    z-index: 1001;
    transform: rotate(-0.27deg);
    transform-origin: center;   
    font-family: 'Freckle Face', system-ui;
}

.overlay4-extra-text-container {
    position: fixed;
    width: 237.52.75px;
    height: 79.32px;
    left: 35%;
    bottom: 17%;
    text-align: center;
    color: #BA1A1A;
    z-index: 1001;
    transform: rotate(-0.27deg);
    transform-origin: center;
    font-family: 'Give You Glory', serif;
}

.disclaimer-text {
    font-size: clamp(10px, 2vw, 13px);
    font-weight: bold;
    color: #4D426D;
    text-align: center;
}

.menu-header-text {
    font-size: clamp(6px, 3vw, 24px);
    font-weight: bold;
    color: white;
}

.menu-body-text {
    font-size: clamp(1rem, 2vw, 16px);
    color: white;
    margin-top: 1rem;
}

.overlay-body-text {
    font-size: 14.5px;
    color: white;
    line-height: 1.2;
}

.overlay-header-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    align-self: center;
    color: white;
}

.overlay1-extra-text {
    align-self: center;
    line-height: 1;
}

.overlay2-extra-text {
    align-self: center;
    line-height: 1;
    font-size: 17px;
}

.overlay3-extra-text {
    align-self: center;
    line-height: 1;
    font-size: 21px;
}

.overlay4-extra-text {
    align-self: center;
    line-height: 1.4;
    font-size: 21px;
}

.imageButtonTop {
    position: fixed;
    width: clamp(150px, 19vw, 400px);
    height: clamp(50px, 40vh, 250px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: transparent;
    pointer-events: auto;
}

.imageButtonBottom {
    position: fixed;
    width: clamp(150px, 19vw, 400px);
    height: clamp(100px, 40vh, 500px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: transparent;
    pointer-events: auto;
}

.imageButtonTop:hover, .imageButtonBottom:hover {
    opacity: 0.8;
}

.closeButton {
    position: fixed;
    top: 7px;
    right: 15px;
    width: 33px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('XButton.webp');
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.closeButton:hover {
    opacity: 0.8;
}

.emailcontactButton {
    position: fixed;
    left: 35%;
    bottom: 10%;
    width: 200px;
    height: 64.24px;
    background-image: url('EmailButton.webp')
}

.emailcontactButton:hover {
    opacity: 0.8;
}

.comingsoonButton {
    position: fixed;
    bottom: 5%;
    left: 55.5%;
    background-image: url('ComingSoon.webp');
    width: clamp(300px, 17vw, 470px);
    height: clamp(120px, 10vh, 229px);
    background-color: #63C25E;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    pointer-events: auto;
    border: none;
    border-radius: 25px;
    z-index: 989;
}

.comingsoonButton:hover {
    opacity: 0.8;
}

#button1 {
    top: 5%;
    left: 17%;
    background-image: url('BrushCROP.webp');
    clip-path: polygon(
        0.13% 96.14%,
        4.2% 99.8%,
        99.74% 84.35%,
        99.74% 45.12%,
        97.7% 41.87%,
        0.13% 0.41%
    );
}

#button2 {
    bottom: 32%;
    left: 17%;
    background-image: url('SketchCROP.webp');
    clip-path: polygon(
        3.48% 23.34%,
        0.13% 26.91%,
        0.13% 28.51%,
        0.13% 99.73%,
        98.61% 30.5%,
        99.74% 27.59%,
        99.74% 0.27%
    );
}

#button3 {
    top: 5%;
    right: 18%;
    background-image: url('EraserCROP.webp');
    clip-path: polygon(
        99.74% 96.36%,
        96.19% 99.6%,
        0.25% 83.81%,
        0.25% 45.34%,
        2.42% 41.9%,
        99.74% 0.61%
    );
}

#button4 {
    bottom: 32%;
    right: 18%;
    background-image: url('WheelCROP1.webp');

    clip-path: polygon(
        1.68% 30.77%,
        0.26% 27.72%,
        0.26% 0.27%,
        96.52% 23.74%,
        99.74% 27.19%,
        99.74% 99.87%
    );
}

#overlay1, #overlay2, #overlay3, #overlay4, #contactoverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 889px;
    height: 600px;
    padding: 0px;
    transform: translate(-50%, -50%);
    background-color: black;
    display: none; /*hidden by default*/
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    z-index: 990;
}

#overlaycontent1 {
    position: relative;
    width: 889px;
    height: 600px;
    background-image: url('BrushOverlay.webp');
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#overlaycontent2 {
    position: relative;
    width: 889px;
    height: 600px;
    background-image: url('SketchOverlay.webp');
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#overlaycontent3 {
    position: relative;
    width: 889px;
    height: 600px;
    background-image: url('EraserOverlay.webp');
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#overlaycontent4 {
    position: relative;
    width: 889px;
    height: 600px;
    background-image: url('WheelOverlay.webp');
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#contactoverlaycontent {
    position: relative;
    width: 889px;
    height: 600px;
    background-image: url('ContactOverlay.webp');
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#overlaybackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 989;
}

#emailpopup {
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px 12px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 14px;
}

#emailpopup.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}